<section class="user-page section-padding">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-4 col-md-5 col-xs-12">
                <app-profile-menu></app-profile-menu>
            </div>
            <div class="col-lg-8 col-md-7 col-xs-12">
                <div class="dashborad-box">
                    <h4 class="title">Tabela das marcas <a [routerLink]="['/cadastrar-marca']" class="btn-floating btn-sm btn-success"><i class="fas fa-plus"></i></a></h4>
                    
                    <div class="section-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Nome</th>
                                    <th>Postado por</th>
                                    <th>Data do post</th>
                                    <th>Ação</th>
                                </thead>
                                <tbody *ngFor="let marca of marcas">
                                    <tr>
                                        <td>{{marca.nome}}</td>
                                        <td>
                                            <span class="g-auteur">{{marca.autor}}</span>
                                        </td>
                                        <td>{{marca.data}}</td>
                                        <td>
                                            <a href=""><span class="g-action fa fa-pen-alt"> </span></a>
                                            <a href=""><span class="g-action fa fa-eye"></span></a>
                                            <a href=""><span class="g-action fa fa-trash"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>