<section class="user-page section-padding">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-4 col-md-5 col-xs-12">
                <app-profile-menu></app-profile-menu>
            </div>
            <div class="col-lg-8 col-md-7 col-xs-12">
                <div class="dashborad-box">
                    <h4 class="title">Tabela das Marcas <a [routerLink]="['/cadastrar-marca']" class="float-right"><img src="../../../assets/plus.png" alt=""></a></h4>
                    
                    <div class="section-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Nome</th>
                                    <th>Postado por</th>
                                    <th>Data do post</th>
                                    <th>Ação</th>
                                </thead>
                                <tbody *ngFor="let marca of marcas">
                                    <tr>
                                        <td>{{marca.nome}}</td>
                                        <td>
                                            <span class="g-auteur">{{marca.autor}}</span>
                                        </td>
                                        <td>{{marca.data}}</td>
                                        <td>
                                            <a (click)="onEdit(marca, modalMarca)"><span style="color: dodgerblue; cursor: pointer;" class="g-action fa fa-pencil"></span></a>
                                            <a (click)="confirm(marca)" data-toggle="modal" data-target="#myModal"><span style="color: dodgerblue; cursor: pointer;" class="g-action fa fa-trash"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #modalMarca>


    <div class="modal-header">
      <h4 class="modal-title">Atualizar Marca</h4>
      <button type="button" (click)="fecharModal()" class="close" data-dismiss="modal">&times;</button>
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
  
      <div class="form-group mb-3">
        <label for="nome">Nome</label>
        <input [(ngModel)]="marca.nome" type="text" class="form-control" id="nome">
      </div>
      <div class="form-group mb-3">
        <label for="detalhe">Categoria</label>
        <input [(ngModel)]="marca.detalhe" type="text" class="form-control" id="detalhe" >
      </div>
      <div class="form-group mb-3">
        <label for="validationTextarea">Sobre</label>
        <textarea [(ngModel)]="marca.sobre" class="form-control" id="validationTextarea">
        </textarea>
      </div>
      <div class="form-group mb-3">
      <select class="custom-select">
        <option selected>Autor</option>
        <option value="Guilherme">Guilherme</option>
      </select>          
      </div>
      <div class="form-group">
        <input type="date" class="form-control" [(ngModel)]="marca.data" id="data">
      </div>
    </div>
  
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="atualizar()">Atualizar</button>
      <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="fecharModal()">Cancelar</button>
    </div>
  
  </ng-template>

<swal
#deleteSwal2
title = "Deseja realmente excluir essa marca?"
type = "warning"
showCancelButton = "true"
(confirm) = "remover(marca)"
(confirm) = "listar()"
>
</swal>

<swal
#upgradeSwal
title = "Sucesso"
text = "Marca atualizada com sucesso!"
type = "success"
(confirm) = "fecharModal()"
>
</swal>