<app-header></app-header>

<div class="jumbotron">
  <div id="black"></div>
  <div class="animated fadeInDown">
    <div class="container-fluid">
      <div class="col-md-5 col-md-offset-1">
        <br><br><br>
      <h1>{{marca?.nome}}</h1>
      <hr style="width:25%;text-align:left;margin:30px 0; border:2.5px solid #fff;"/>
      </div>
    </div>
  </div>
</div>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <figure class="snip1249">
            <div class="image">
              <img src="https://conteudo.imguol.com.br/c/entretenimento/bd/2019/11/06/fiat-uno-sporting-1573074585671_v2_1170x540.jpg" alt="sample90"/><a href=""><i class="ion-ios-eye-outline"></i></a>
            </div>
            <figcaption>
              <h3>Gol</h3>
              <p>Motor 1.6 Automático 6 marchas</p>
              <div class="price">
                10/11/19<s>Guilherme</s>
              </div>
              <a href="#" class="add-to-cart">Visualizar</a>
            </figcaption>
          </figure>
        </div>
      </div>
         
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <figure class="snip1249">
            <div class="image">
              <img src="https://media.gazetadopovo.com.br/2019/03/19215134/Chevrolet-Midnight_Divulgacao-660x372.jpg" alt="sample90"/><a href=""><i class="ion-ios-eye-outline"></i></a>
            </div>
            <figcaption>
              <h3>Gol</h3>
              <p>Motor 1.6 Automático 6 marchas</p>
              <div class="price">
                10/11/19<s>Guilherme</s>
              </div>
              <a href="#" class="add-to-cart">Visualizar</a>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <figure class="snip1249">
            <div class="image">
              <img src="https://cdn.destakjornal.com.br/images/2019-04/img_797x448$2019_04_11_11_12_06_47733.jpg" alt="sample90"/><a href="https://cdn.destakjornal.com.br/images/2019-04/img_797x448$2019_04_11_11_12_06_47733.jpg"><i class="ion-ios-eye-outline"></i></a>
            </div>
            <figcaption>
              <h3>Gol</h3>
              <p>Motor 1.6 Automático 6 marchas</p>
              <div class="price">
                10/11/19<s>Guilherme</s>
              </div>
              <a href="#" class="add-to-cart">Visualizar</a>
            </figcaption>
          </figure>
        </div>
      </div>

    </div>
  </div>
</div>
