<app-header></app-header>

<div class="jumbotron">
  <div id="black"></div>
  <div class="animated fadeInDown">
    <div class="container-fluid">
      <div class="col-md-5 col-md-offset-1">
        <br><br><br>
      <h1>{{marca?.nome}}</h1>
      <hr style="width:25%;text-align:left;margin:30px 0; border:2.5px solid #fff;"/>
      </div>
    </div>
  </div>
</div>

<div class="page">
    <div class="wrapper">
      <div class="content-wrapper">
        <div class="content">
          <app-carro></app-carro>
        </div>
      </div>
      <div class="sidebar">
        <h2>Page sidebar</h2>
        <p>&larr; Fixed Width &rarr;</p>
      </div>
    </div>
  </div>