<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <img class="bd-placeholder-img" src="../../assets/slide/1.jpg" width="100%" height="100%" alt="">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Saiba que</h1>
            <p>carro comprar e a tendencia do mercado automotivo.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <img class="bd-placeholder-img" src="../../assets/slide/2.jpg" width="100%" height="100%" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>A Chevrolet possui</h1>
            <p>uma exclusiva linha de carros sedans e hatchs que agrada a todos os gostos.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <img class="bd-placeholder-img" src="../../assets/slide/3.jpg" width="100%" height="100%" alt="">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Eleve</h1>
            <p>para outro nível o prazer de dirigir.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
</main>