<section class="user-page section-padding">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-4 col-md-5 col-xs-12">
                <app-profile-menu></app-profile-menu>
            </div>
            <div class="col-lg-8 col-md-7 col-xs-12">
                <div class="dashborad-box">
                    <div class="section-body">
                        <form name="">

                            <h3 class="dark-grey-text text-center">
                              <strong>Cadastrar Marca</strong>
                            </h3>
                            <hr>

                            <div class="md-form">
                              <i class="fa fa-atlas prefix"></i>
                              <input type="text" id="nome" class="form-control">
                              <label for="nome">Nome</label>
                            </div>

                            <div class="md-form">
                              <i class="fa fa-pen-square prefix"></i>
                              <input type="text" id="detalhe" class="form-control">
                              <label for="detalhe">Detalhe</label>
                            </div>

                            <div class="md-form">
                              <i class="fa fa-pencil-alt prefix"></i>
                              <textarea type="text" id="sobre" class="md-textarea"></textarea>
                              <label for="sobre">Sobre</label>
                            </div>

                            <select class="browser-default custom-select mb-4">
                              <i class="fa fa-user prefix"></i>
                              <option id="autor" value="" selected disabled="">Autor</option>
                              <option>Guilherme</option>
                            </select>

                            <div class="md-form">
                              <i class="fa fa-atlas prefix"></i>
                              <input type="date" id="data" class="form-control">
                              <label for="data">Data</label>
                            </div>

                            <div class="text-center">
                              <button class="btn btn-indigo" id="submit">Cadastrar</button>
                            </div>

                          </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="text" id="form2" class="form-control">
      <label for="form2">Detalhe</label>
    </div>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="form2" class="form-control">
        <label for="form2">Sobre</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
      <label class="custom-control-label" for="defaultGroupExample1">Male</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
      <label class="custom-control-label" for="defaultGroupExample2">Female</label>
    </div> -->

    <!-- <div class="md-form">
      <i class="fa fa-phone prefix grey-text"></i>
      <input type="Number" id="form22" class="form-control" min="1" max="11">
      <label for="form22"></label>
    </div> -->
